head {
}

p {
	font-family: "Monaco", "Courier", monospace;
	color: bisque;
	width: 100%;
	padding: 15px 32px;
}
button {
	background-color: #4caf50; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	width: 100%;
}

html {
	width: 100%;
	height: 100%;
}

div {
	min-width: 100%;
	min-height: 100%;
}

div img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

video {
	width: 100%;
	max-width: 1260px;
	min-width: 780px;
}

body,
img,
image {
	width: 100%;
	height: 100%;
	/* Поля вокруг текста */
	background: #c7b39b url(webBackGnd.jpg) center no-repeat fixed;
}

#container {
}
